<div id="main">
    <div id="clock">
        <div id="text">Set Alarm After</div>
        <form id="form">
            <div id="input">
                <input class="ibox" type="number" id="hours" placeholder="Hours" max="24" min="0">
                <input class="ibox" type="number" id="minutes" placeholder="Minutes" max="60" min="0">
                <input class="ibox" type="number" id="seconds" placeholder="Seconds" max="60" min="0">
            </div>
        </form>   
        <div id="buttons">
            <button id="set" class="btn">Set</button>
            <button id="clear" class="btn">Clear</button>
        </div>         
    </div>
  </div>
